ion-content {
  /* --ion-background-color: #FCEADD; */
  --ion-background-color: linear-gradient(
    339deg,
    rgba(182, 164, 151, 1) 0%,
    rgba(252, 234, 221, 1) 100%
  );
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20% 0%;
}

.buttonRow {
  /* margin: 20% 0%; */
}
